<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="share();">Share</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
